# Copia este fichero a .env y rellena tus valores.

TELEGRAM_BOT_TOKEN="123456:ABCDEF"
TELEGRAM_CHAT_ID="123456789"

# Opcionales
# COMEDOR_MENU_URL="https://servicio.us.es/sacu/menuSemanal?i=1"
# COMEDOR_TARGET_DATE="2026-06-16"
